page-home {
    
    .company-logo{
        display: flex;
        align-items: center;
        justify-content: start;
        grid-column-gap: 20px;

        img{
            // width: 60px;
            height: 30px;
            object-fit: contain;
        }
    }

    .share-text{
        font-size: 11px;
        text-transform: capitalize;
    }
}
