page-scheme-detail {
    
    .text-right{
        text-align: right !important;
    }
    
    h2{
        font-size: 14px;
        padding-left: 16px !important;
    }
    p{
        font-size: 11px;
        padding-left: 16px !important;
    }
    
}
