
<ion-header>
  <ion-navbar>
    <ion-title>{{'Enter Coupon Code' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="ragistration-fields">
    <div class="cs-form">
      <ion-list>
        <ion-item class="cs-input">
          <ion-label floating>{{'Coupon Code' | translate}}</ion-label>
          <ion-input [(ngModel)]="data.code" #code="ngModel" name="code"></ion-input>
        </ion-item>
        
      </ion-list>
    </div>
    <a ion-button full color="primary"  (click)="couponAddList()" round> Add To list</a>
  </div>


  
  <ion-list *ngIf="qrCodeData.length">
    <ion-list-header color="secondary">
      
      {{'Coupon Code History' | translate}}
    </ion-list-header>
    <ion-item *ngFor="let list of qrCodeData; let i=index" >
      <div class="left-block">
        <span>{{'Coupon Code' | translate}}<strong> : {{list.qr_code}}</strong> </span>
        <span>{{list.product_name}}</span>
      </div>
      <div class="right-block">
        <h2>{{list.coupon_value}}<span>PT</span></h2>
        <i class="material-icons" style="color: red;" (click)="delete(i, list.coupon_value)" >delete</i>
      </div>
    </ion-item>
    
    <ion-list-header class="total-points">
      {{'Total Scan Point' | translate}} <span>{{totalPoint}} <span>PT</span></span>
    </ion-list-header>
  </ion-list>
  
  
  
  
  
  <ng-container  *ngIf="qrCodeData.length">
    <form #f="ngForm" (ngSubmit)="f.form.valid && submit();">
      <div class="ragistration-fields">
        <div class="heading line mt0 mb16">
          <p>{{'Basic Information' | translate}}</p>
        </div>
        <div class="cs-form">
          <ion-list>
            <ion-item class="cs-input" [ngClass]="{'error':f.submitted && contractor_mobile?.invalid}">
              <ion-label floating>{{'Contractor Mobile No' | translate}} *</ion-label>
              <ion-input type="tel" name="contractor_mobile" #contractor_mobile="ngModel" [(ngModel)]="data.contractor_mobile" min="0" maxlength="10" minlength="10" required  (ngModelChange)="getContractor(data.contractor_mobile); checkNumber(data.contractor_mobile)"></ion-input>
            </ion-item>
            <p class="error-msg" *ngIf="f.submitted && contractor_mobile?.invalid">required</p>
            
            <ion-item class="cs-input" [ngClass]="{'error':f.submitted && contractor_name?.invalid}">
              <ion-label floating>{{'Contractor Name' | translate}} *</ion-label>
              <ion-input type="text" name="contractor_name" #contractor_name="ngModel" [(ngModel)]="data.contractor_name" required></ion-input>
            </ion-item>
            <p class="error-msg" *ngIf="f.submitted && contractor_name?.invalid">required</p>
            
            
            <ion-item class="cs-input" [ngClass]="{'error':f.submitted && painter_mobile?.invalid}">
              <ion-label floating>{{'Painter Mobile No' | translate}}</ion-label>
              <ion-input type="tel" name="painter_mobile" #painter_mobile="ngModel" [(ngModel)]="data.painter_mobile" min="0" maxlength="10" minlength="10" (ngModelChange)="checkNumber(data.painter_mobile)"></ion-input>
            </ion-item>
            
            
            <ion-item class="cs-input" [ngClass]="{'error':f.submitted && painter_name?.invalid}" >
              <ion-label floating>{{'Painter Name' | translate}}</ion-label>
              <ion-input type="text" name="painter_name" #painter_name="ngModel" [(ngModel)]="data.painter_name" ></ion-input>
            </ion-item>
            
          </ion-list>
        </div>
        <button ion-button full color="primary" round >Save</button>
      </div>
    </form>
  </ng-container>
  
</ion-content>
