page-video {

    .no-found {
        text-align: center;
        height: calc(100% - 50px);
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            height: 150px;
        }
    }
    

    
}
